#logo {
  height: 50px;
  width: 50px;
  background-image: url(image_path("wikirace-logo2.png"));
  background-position: center;
  background-size: cover;
  &:hover {
    background-image: url(image_path("wikirace-logo.png"));
    // background: asset-url("");
    background-position: center;
    background-size: cover;
  }
}
